<div id="follow-icons">
	<a href="http://facebook.com/mican3zhang" rel="me"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="http://twitter.com/micanzhang" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/micanzhang" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="http://github.com/micanzhang" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://plus.google.com/+MicanZhangGopher" rel="author"><i class="fa fa-google-plus-square fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a> 
</div>  
